#version{
	float:right;
}
input[type="text"],select,input[type="number"]
{
	font-size:16px;
}
.noticecontainer{
    background-color:#fff0b3;
    padding:5px 5px 1px 5px;
    border-radius:5px;
}
.noticecontainer ul{
    margin:5px;
}
#calculator{
    all: initial;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    margin: 0 auto;
    display: table;
	width: 650px;
	color: #000000;
}

#calculator a{
	text-decoration: none;
}

#calculator .main{
	padding: 6px 12px;
}
table .right{
	text-align: right;
}
.title{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width:100%;
	padding: 10px 0;
}
.title .back{
	float: left;
	cursor: pointer;
}
.pricelist{
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	clear: both;
	empty-cells: show;
	width: 100%;
	padding: 6px;
}
.pricelist th{
	text-align: center;
}
.pricelist th, .pricelist td{
	border: 1px solid #232323;
	padding: 3px 5px;
}
.btn-nav{
	padding: 10px;
	float: right;
	font-size: 20px;
	cursor: pointer;
}
.grid{
	display:block;
	text-align: center;
}
.option{
	padding: 10px;
	height: 150px;
	width: 150px;
	margin: 4px;
	display:inline-block;
	vertical-align: middle;
	line-height: 150px;
	background: #f0f0f0;
	border: solid 1px black;
}
